.today__sunrise {
  .sunrise__sunset {
    margin-top: $mg-2;
    .sunrise__sunset__icon {
      margin-right: $mg-4;
      i {
        font-size: $fs-4;
        color: $color-white;
        background-color: $color-white;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        background-color: $color-yellow-0;
        text-align: center;
        box-shadow: inset 0 0 12px 3px $color-orange-0;
      }
    }
    .sunrise__sunset__detail {
      p {
        margin-bottom: 0;
      }
      .time {
        @include text($fs-html-px + 2, $fw-mid-bold, $color-black);
      }
      .duration {
        @include text($fs-4, $fw-mid-bold, $color-grey-2);
      }
    }
  }
}
