/* COLORS */
$color-white: #fff;
$color-black: #000;
$color-grey-0: #f6f6f8;
$color-grey-1: #d4d4d4;
$color-grey-2: #bdbdbd;
$color-grey-3: #f3f3f4;
$color-grey-4-overlay: rgba(189, 189, 189, 0.2);
$color-grey-5: rgba(0, 0, 0, 0.15);
$color-grey-6: #efefef;
$color-grey-7: rgba(189, 189, 189, 0.4);
$color-grey-8: #dcdcdc;
$color-grey-9: rgba(0, 0, 0, 0.25);
$color-grey-10: #e5e5e5;
$color-grey-11: rgba(0, 0, 0, 0.75);
$color-grey-12: rgba(51, 59, 71, 0.3);
$color-grey-13: #d9d9d9;
$color-grey-14: #e6e6e6;
$color-yellow-0: #ffde4a;
$color-orange-0: #ffbf5e;
$color-violet-0: #4050d2;
$color-blue-0: #6bbad1;
$color-blue-1: #01b6f1;

$color-dark-0: #1e2125;
$color-dark-1: #333b47;
$color-dark-2: #4b5668;
$color-dark-3: #606e85;
$color-dark-navbar: #5d6572;
$color-dark-overlay: rgba(51, 59, 71, 0.66);
$color-dark-text: #dfe4e5;
$color-dark-contrast: #fac76c;

/* FONT SIZE */
$fs-html: 1rem;
$fs-html-px: 16px;
$fs-1: 1.2rem;
$fs-2: 1.5rem;
$fs-3: 20px;
$fs-4: 14px;
$fs-5: 25px;
$fs-6: 55px;
$fs-7: 90px;
$fs-8: 40px;

/* FONT WEIGHT */
$fw-0: normal;
$fw-light: 300;
$fw-bold: 700;
$fw-mid: 500;
$fw-mid-bold: 600;

/* PADDING */
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 30px;
$pd-6: 35px;
$pd-7: 40px;
$pd-8: 45px;
$pd-9: 50px;
$pd-10: 60px;
$pd-11: 80px;
$pd-12: 100px;

/* MARGIN */
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-5: 30px;
$mg-6: 35px;
$mg-7: 40px;
$mg-8: 45px;
$mg-9: 50px;

/* BORDER */
$border-0: 1px solid;
$border-1: 2px solid;

/* SHADOW */
